.nav {

  background: rgba(255,255,255, .1);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);
  padding: 1rem;
  width: 100%;
  border-radius: 50rem;

  &__container {
    display: inline-flex;
    align-items: center;
  }

  &__item {
    display: inline-flex;
    align-items: center;
    margin-right: 1rem;

    &:last-of-type {
      margin-right: 0;
    }

    a {
      margin: 0 !important;
    }
  }

}